* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #444;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

a {
  color: #2536d8;
  text-decoration: none;
}

body {
  background-color: #fff;
  color: #000;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

iframe {
  border: none;
  display: block;
}

img {
  max-width: 100%;
}

details {
  margin: 1rem auto;
  background: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.5);
  user-select: none;
}

summary {
  padding: 1rem;
  background: #fff;
  position: relative;
  cursor: pointer;
}

dialog {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
}

header {
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 1rem 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

footer {
  margin-top: 2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding: 1rem 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.container {
  max-width: 900px;
  margin-inline: auto;
}

.video-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}

@media (min-width: 641px) {
  .video-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.video-list img {
  width: 100%;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}
